// ---------- Breakpoint Widths ---------- //
// Set all media query breakpoint data in the $breakpoints Sass map.
// Keys will become part of the class names. Use any sizing units you'd like.
$breakpoints: (
	sm : 567px,
	md : 768px,
	lg : 992px,
	xl : 1200px,
);

// ---------- Whitespace Usage ---------- //
$pad: 1rem;

