// ---------- Breakpoint Widths ---------- //
// TODO : Explain how to customize breakpoints.
$breakpoints: (
	sm : 56.7rem,
	md : 76.8rem,
	lg : 99.2rem,
	xl : 120rem,
);

// ---------- Whitespace Usage ---------- //
$grid-right-margin: 2rem;
$column-right-padding: 2rem;

