// --------- Grid Column Sets ---------- //
@mixin column-set ($columns) {
	@each $name, $width in $breakpoints {
		@media all and (min-width: $width) {
			$selectors: ();
			@for $i from 1 through $columns {
				$selector: '.col-#{$name}-#{$i}-#{$columns}';
				$selectors: append($selectors, unquote($selector), comma);
			}
			@for $j from 1 through $columns {
				.col-#{$name}-#{$j}-#{$columns} {
					width: $j / $columns * 100%;
				}
			}
		}
	}
}
