@import 'config';
@import 'mixins';

*, *:after, *:before {
	box-sizing: border-box;
}

// The .grid class clears all floats.
.grid {
	display: block;
  padding: 0 $default-grid-margin-width;
  margin: 0 auto;
  max-width: $grid-max-width;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

[class*='col_'] {
	float: left;
  padding: 0 $default-col-gutter-width;
  width: 100%;
}

// --------- Create Column Set(s) ---------- //
@each $column-set in $column-sets {
  @include create-column-set($column-set);
}
 