/*!
TODO : package description 2
*/
@import 'config';
@import 'mixins';

*, *:after, *:before {
	box-sizing: border-box;
}

// The .wg class clears all floats
.wg {
	display: block;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

[class*='col-'] {
	float: left;
	padding: 0 $pad;
	width: 100%;
}

// --------- Specify Column Sets ---------- //
//
// Multiple columnsets may be used.
//
@include column-set(2);
// @include column-set(4);
// @include column-set(6);
// @include column-set(8);
// @include column-set(12);
@include column-set(16);
