@import 'config';
@import 'mixins';

*, *:after, *:before {
	box-sizing: border-box;
}

// The .grid class clears all floats
.grid {
	display: block;
	padding: $grid-well-size 0 $grid-well-size $grid-well-size;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

[class*='col-'] {
	float: left;
	padding: 0 $cell-padding;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

// --------- Specify Column Set(s) ---------- //
// @include column-set(2);
// @include column-set(4);
// @include column-set(6);
// @include column-set(8);
@include column-set(12);
// @include column-set(16);
